extends layout 

block content

    .mainContainer
        if historialVuelo && historialVuelo.length > 0
            table
            thead
                tr
                th Destino
                th Vuelo
                th Fecha
            tbody
                each vuelo in historialVuelo
                tr
                    td= vuelo.destino // Mostrar el destino del vuelo
                    td= vuelo.vuelo // Mostrar el número de vuelo
                    td= vuelo.fecha // Mostrar la fecha del vuelo
            else
                p No hay vuelos en el historial