extends layout

block content

    .loginContainer
      h2 Iniciar sesión
      form(action="/login", method="post")
        .form-group
          label(for="nombre") Usuario:
          input(type="text", id="nombre", name="nombre", required)
        .form-group
          label(for="password") Contraseña:
          input(type="password", id="password", name="password", required)
        button(type="submit") Iniciar sesión
        p ¿No tienes una cuenta? 
            a(href='/registro' class='register-link') Regístrate
