extends layout

block content
    .mainContainer
        .center-text
        h1 Resumen de tu viaje

        p Destino: #{resumen.vuelo[0].destino}

        p Precio del vuelo: $#{resumen.vuelo[0].precio_vuelo}

        h2 Hospedaje

        p Hotel: #{resumen.vuelo[0].hotel}