extends layout

block content
    .mainContainer
        .center-text
        h1 Resumen de tu viaje

        p Destino: #{destino}

        p Precio del vuelo: $#{precioVuelo}

        h2 Hospedaje

        p Hotel: #{nombreHotel}