extends layout 

block content

    .mainContainer
        form#multiStepForm
            .slide.active
                h2 Parte 1
                label(for="name") Nombre:
                input(type="text" id="name" name="name" required)
                button(type="button" onclick="nextSlide()") Siguiente
            .slide
                h2 Parte 2
                label(for="email") Correo Electrónico:
                input(type="email" id="email" name="email" required)
                button(type="button" onclick="prevSlide()") Anterior
                button(type="button" onclick="nextSlide()") Siguiente
            .slide
                h2 Parte 3
                label(for="age") Edad:
                input(type="number" id="age" name="age" required)
                button(type="button" onclick="prevSlide()") Anterior
                button(type="submit") Enviar
            script(src="/script.js")