extends layout 

block content
    .mainContainer
        form#multiStepForm(action="/detalles_viaje", method="POST")
            .slides-container
                .slide.active
                    h2 Selecciona el destino de tu proxima aventura
                    label(for="destino") Destino:
                    br
                    select(id="destino", name="destino", required)  
                        option(value="bar") Barcelona, España
                        option(value="que") Queenstown, Nueva Zelanda
                        option(value="es") Estambul, Turquía
                        option(value="pa") París, Francia
                        option(value="san") San Francisco, California
                        option(value="sin") Singapur, Singapur
                        option(value="se") Seúl, Corea del Sur
                        option(value="kyo") Kyoto, Japón 
                        option(value="lon") Londres, Inglaterra
                        br
                    button(type="button" id="nextSlideButton1" class="next-slide") Reserva tus vuelos!
                .slide
                    h2 Vuelos
                    p Selecciona tu clase de vuelo:
                    label(for="turista") Clase turista
                    input(type="radio" id="turista" name="fly" value="turista" required)
                    p Precio del vuelo: 
                    span#flightPrice
                    br
                    label(for="turistaSuperior") Clase turista superior
                    input(type="radio" id="turistaSuperior" name="fly" value="turistaSuperior" required)
                    br
                    label(for="business") Clase business
                    input(type="radio" id="business" name="fly" value="business" required)
                    br
                    label(for="primeraClase") Primera clase
                    input(type="radio" id="primeraClase" name="fly" value="primeraClase" required)
                    br
                    br
                    label(for="cantidad") Numero de boletos: 
                    input(type="number" id ="cantidad" name="cantidad" required)
                    br
                    br
                    label(for="fecha") Fecha del vuelo: 
                    input(type="date" id="date" name="date" required) 
                    br
                    button(type="button" id="prevSlideButton1" onclick="prevSlide()") Cambiar Destino
                    button(type="button" id="nextSlideButton2" class="next-slide") Reserva tu Hotel!
                .slide
                    h2 Hospedaje
                    p Elije tu Hotel!
                    div#hotelesContainer
                    label(for="noches") Noches de Hospedaje 
                    input(type="number" id="noches" name="noches" required)
                    button(type="button" id="prevSlideButton2" onclick="prevSlide()") Anterior
                    button(type="submit") Enviar
                script(src="/script.js")
