actividades -equipage- gastos resumen del viaje
extends layout

block content
    .mainContainer
        .center-text
            h1 Actividades 
                form(action="/", method="GET")
                    button(type="submit") Añadir Actividad 