
$mainColor: #F7E025    
    
html
    padding: 0
    margin: 0
    box-sizing: border-box

body
    background-color: #1E171F

/* nav  */
nav
    display: flex
    justify-content: space-between
    padding: 1rem 2rem

nav ul
    display: flex
    list-style: none
    align-items: center
    gap: 2rem

nav ul li a
    text-decoration: none
    color: white
    padding: 8px 0
    transition: all
    transition-duration: 500ms
    border-bottom: 1px  #1E171F

    &:hover
        border-bottom: 1px $mainColor
        color: $mainColor




    
    
/* login */
.loginContainer 
    margin-top: 40px
    max-width: 400px
    margin: 50px auto
    padding: 20px
    background-color: #fff
    border-radius: 5px
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)

.form-group 
    margin-bottom: 20px

.loginContainer
    label
        display: block
        margin-bottom: 5px
        color: #666

input[type="password"] 
    width: 100%
    padding: 10px
    font-size: 16px
    border: 1px solid #ccc
    border-radius: 5px

input[type="email"] 
    width: 100%
    padding: 10px
    font-size: 16px
    border: 1px solid #ccc
    border-radius: 5px

/* Registro */
.containerRegistro
    margin-top: 40px
    max-width: 400px
    margin: 50px auto
    padding: 20px
    background-color: #fff
    border-radius: 5px
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)